/* Poppins - Light */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Poppins - Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Pseudo Elements */
:root {
    --clr-primary: #0A19CE;
    --clr-secondary: #5560E8;
    --clr-light: #FFF;
    --clr-dark: #000;

    --font: 'Poppins',sans-serif;
}


* {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 260px;
    margin: 0 auto;
}

.login-page {
    font-size:1rem;
    background-image: linear-gradient(180deg,var(--clr-secondary),var(--clr-primary));
}

.left-div {
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}

.illustration {
    width:70%;
    margin:70px 20px;
}

.logo {
    width:80%;
    margin:0 auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.left-div p {
    font-family: var(--font);
    width:90%;
    height: auto;
    font-size:15px;
    color:var(--clr-light);
    text-align: left;
}

.left-div button {
    font-size:15px;
    font-family:var(--font);
    padding:10px 25px;
    margin: 55px 0 0 30%;
    border: none;
    border-radius:5px;
    cursor: pointer;
}

.left-div button a {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 700;
}

.right-div{
    width:100vw;
    height:100vh;
    background-color: var(--clr-light);
    display: none;
}

/* Large Mobile View */
@media all and (min-width: 420px) {

    .login-page {
        height:100vh;
    }

    .container {
        max-width:380px;
    }

    .logo {
        width:70%;
        margin:0 0 0 30px;
    }

    .left-div {
        margin:0 0 0 15px;
    }

    .left-div p {
        text-align:center;
        width:70%;
        margin: 0 0 0 30px;
    }

    .left-div button {
        margin: 40px 0 0 135px;
    }

}

/* Tablet View */
@media all and (min-width: 767px){

    section {
        width: 100vw;
        display:flex;
        flex-direction: row;
    }

    .container {
        max-width:720px;
    }

    .left-div {
        width:90%;
    }

    .logo {
        margin:0 0 0 20px;
    }

    .left-div img {
        width:70%;
        margin:70px 0 0 55px; 
    }

    .left-div p {
        margin: 0 auto;
    }

    .left-div button {
        display: none;
    }

    .right-div {
        display: block;
        width:90vw;
        background:var(--clr-light);
        background-repeat: no-repeat;
    }

    .right-div .container {
        max-width:70vw;
    }

    .logo-two {
        display:block;
        width:20vw;
        margin:30px 0 0 20%;
        padding: 0 60px 0 78px;
        color:var(--clr-primary);
        justify-content: center;
        border-bottom:1.5px solid var(--clr-primary);
    }

    .right-div h1 {
        font-size:20px;
        font-family:var(--font);
        color:var(--clr-dark);
        margin:20px 0 0 20px;
        text-align: center;
    }
}

/* Desktop View */
@media all and (min-width: 1100px){
    .container {
        max-width: 1000px;
    }

    .login-page {
        display: flex;
        flex-direction: row;
    }

    .left-div {
        width:100%;
    }

    .right-div {
        width:70%;
    }
}