/* Poppins - Light */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Poppins - Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Pseudo Elements */
:root {
    --clr-primary: #0A19CE;
    --clr-secondary: #5560E8;
    --clr-light: #FFF;
    --clr-dark: #000;

    --font: 'Poppins',sans-serif;
}


* {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 260px;
    margin: 0 auto;
}

.login-page {
    font-size:1rem;
    background-image: linear-gradient(180deg,var(--clr-secondary),var(--clr-primary));
}

.left-div {
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}

.illustration {
    width:70%;
    margin:70px 20px;
}

.logo {
    width:80%;
    margin:0 auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.left-div p {
    font-family: var(--font);
    width:90%;
    height: auto;
    font-size:15px;
    color:var(--clr-light);
    text-align: left;
}

.left-div button {
    font-size:15px;
    font-family:var(--font);
    padding:10px 25px;
    margin: 55px 0 0 27%;
    border: none;
    border-radius:5px;
    cursor: pointer;
}

.left-div button a {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 700;
}

.right-div{
    width:100vw;
    height:100vh;
    background-color: var(--clr-light);
    display: none;
}

/* Large Mobile View */
@media all and (min-width: 420px) {

    .login-page {
        height:100vh;
    }

    .container {
        max-width:380px;
    }

    .logo {
        width:70%;
        margin:0 0 0 30px;
    }

    .left-div {
        margin:0 0 0 15px;
    }

    .left-div p {
        text-align:center;
        width:70%;
        margin: 0 0 0 30px;
    }

    .left-div button {
        margin: 40px 0 0 135px;
    }

}

/* Tablet View */
@media all and (min-width: 767px){

    section {
        width: 100vw;
        display:flex;
        flex-direction: row;
    }

    .container {
        max-width:720px;
    }

    .left-div {
        width:90%;
    }

    .logo {
        margin:0 0 0 20px;
    }

    .left-div img {
        width:70%;
        margin:70px 0 0 55px; 
    }

    .left-div p {
        margin: 0 auto;
    }

    .left-div button {
        display: none;
    }

    .right-div {
        display: block;
        width:90vw;
        background:var(--clr-light);
        background-repeat: no-repeat;
    }

    .right-div .container {
        max-width:70vw;
    }

    .logo-two {
        display:block;
        width:20vw;
        margin:30px 0 0 14%;
        padding: 0 30px 0 70px;
        color:var(--clr-primary);
        justify-content: center;
        border-bottom:1.5px solid var(--clr-primary);
    }

    .right-div h1 {
        font-size:20px;
        font-family:var(--font);
        color:var(--clr-dark);
        margin:20px 0 10px 10px;
        text-align: center;
    }

    .form-group {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        font-family: var(--font);
        font-size:1rem;
        margin: 0 53% -8px 0;
    }

    #email {
        margin:0 0 10px 0;
    }

    #for-password {
        margin:0 45% 15px 0;
    }

    .form-group i {
        font-size:20px;
        color:var(--clr-primary);
        position: relative;
        top:31px;
        right:28%;
    }

    .form-group input {
        width:60%;
        height:40px;
        border-radius:15px;
        border:1px solid var(--clr-primary);
        padding:0 10px;
        font-size:1rem;
        font-family: var(--font);
        color:var(--clr-dark);
        text-indent: 30px;
    }

    .form-group input:focus {
        outline: none;
        border: 1px solid var(--clr-primary);
    }

    #lock {
        position: relative;
        top:70px;
    }

    .form-group:nth-child(3) {
        display: flex;
        flex-direction: row;
        margin:20px 30% 0 0;
    }

    .form-group:nth-child(3) input {
        width:18px;
        background:gray;
        border:none;
    }

    .form-group:nth-child(3) h3 {
        font-family: var(--font);
        font-size: 15px;
        font-weight:300;
        padding: 0 0 0 20px;

    }

    .form-group:nth-child(4) {
        margin:30px 0 0 0;
    }

    .form-group:nth-child(4) button {
        width:65%;
        font-family: var(--font);
        font-size:1rem;
        color:var(--clr-light);
        text-transform: uppercase;
        font-weight: 700;
        background-color: var(--clr-primary);
        border:none;
        border-radius:5px;
        margin:0 0 10px 0;
        padding:10px 0;
        cursor: pointer;
    }

    .need-password {
        margin:0 0 0 50%;
        text-decoration: none;
        font-family: var(--font);
        font-size:15px;
        color:gray;
        cursor: pointer;
    }

    .right-div p {
        text-align: center;
        font-family: var(--font);
        font-size:15px;
        color:var(--clr-dark);
        margin:50px 0 0 0;
    }

    .right-div a {
        font-style: italic;
        color:var(--clr-primary);
    }

}

/* Desktop View */
@media all and (min-width: 1100px) {
    .container {
        max-width: 1000px;
        padding:5px 0 0 0;
        overflow: hidden;
    }

    .login-page {
        display: flex;
        flex-direction: row;
    }

    .left-div {
        width:100%;
    }

    .left-div img:first-child {
        width: 50%;
        justify-content: center;
        margin:20% 0 0 20%;
    }
    
    .left-div img:nth-child(2) {
        width: 305px;
        justify-content: center;
        margin:5% 0 3% 25%;
    }

    .left-div p {
        text-align: center;
        width:55%;
        margin: 0 0 0 20%;
        font-size:18px;
    }

    .right-div {
        width:70%;
    }

    .logo-two {
        width:35%;
        margin:30px 0 0 20%;
        padding:0 70px 0 100px;
    }

    #for-password {
        margin:0 0 12px -49%;
    }

    .form-group:nth-child(3) {
        margin:20px 0 0 -40%;
    }

    .form-group:nth-child(3) input {
        cursor: pointer;
    }

    .form-group:nth-child(4) button {
        width:62%;
        margin:0 0 20px 0;
    }

    .need-password {
        margin:0 0 0 62%;
        font-style: normal;
    }
}